/* 浮动 */
.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix::after {
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  content: '';
}

.bold {
  font-weight: bold;
}

// 适配vw单位
$vw_base: 1920;
@function vw($px) {
  @return ($px / $vw_base) * 100vw;
}

//适配vh单位
$vh_base: 1080;
@function vh($px) {
  @return ($px / $vh_base) * 100vh;
}
